.subHeader-container{
  border-bottom: 3px solid $blue;
  height: 30vh;
  margin-top:10vh;
    h2{
        text-align: right;
        padding-top: 22vh;
        margin: 0;
    }
   p{
       margin:0;
   }
}

.subHeader-img{
    height: 30vh;
    opacity: 0.85;
    transform: scaleX(-1);
    margin: 3vh 0 0 -1vw;
    img{
        width: 100%;
        padding: 0;
    }
}

.cv-txt-container{
    padding: 0 0 0 10%;

    h2{
        color: $blue;
    }
    h3{
        color: $dark;
    }
}
.cv-txt{
    padding: 0 50% 0 0;
    h2, h3, h4, p{
        width: 100%;
    }
}