.container-form{
  margin-left: 35%;
  margin-bottom: 10%;

  @media (max-width: 1024px ){
    margin: 0 0 10% 10%;
    width: 100%;
}
@media (max-width: 767px ){
    margin-left: 0%;
}
@media (max-width: 375px ){
    margin-top: -15vh;
}
}

.form-control{
    box-shadow: 3px 4px 10px rgba(95, 118, 129, 0.5);
    border: solid 2px $blue;

    @media (max-width: 1023px ){
        width: 100%;
    }
}

.btn{
    color: white;
    background-color: $dark;
    width: 80px;
    box-shadow: 3px 4px 10px rgba(95, 118, 129, 0.7);

    &:hover{
        color: $dark;
        background-color: white;
        border:solid 2px $blue;
    }
    &:active{
        color: white;
    }
    &:visited{
        color: white;
    }
}

.popup_container{
    display: flex;
    justify-content: center;
    position: fixed; 
    padding: 0;
    margin: 0;
    top: 49px;
    left:0;
    width: 101vw;
    height: 100vh; 
    z-index: 10;
    background-color:rgba(0, 116, 224, 0.8);
}
.popup_content{
    display: flex;
    position: fixed; 
    top: 20%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    width: 45vw;
    max-width: 65vw;
    height: 45vh;
    color: white;
    background-color: $blue;
    border-color: $blue;
    box-shadow:3px 4px 10px rgba(170, 170, 170, 0.5);

    h3{ 
        width: 100%;
        align-self: flex-start;
        color: white;
        text-align: center;
        padding: 3rem 3rem 1rem 3rem;
        margin: 8% 0 0 15%;
    }
  
    .fas{
        font-size: 2.5rem;
        padding: 3%;
        color: white;
    }
    
    .back{
        color: white;
        font-size: 12px;
    }
    .logo-thank{
        align-self: flex-end;
        width: 25%;
    }

    @media (max-width: 375px ){
        top: 10%;
        max-width: 100vw;
        width: 89vw;
        height: 85vh;
    }
}


