@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    font-family: $font;
    overflow-x: hidden;
}

a{
    &:visited{
        color: $blue;
    }
}
h3{
    color: $blue;
}
h2, h4, h5, p{
    color: $dark;
}
h4{
    font-size: $my-h4;
}
p{
    font-size: $my-p;
}

hr{
    border: 1.5px solid $blue;
}
.error{
    color: $error;
    
    &__hide{
        display: none;
    }
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.container{
    padding:0;
    margin-bottom: 10%;

}

.line{
    border-bottom: 3px solid $blue;
    padding:0;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
 
    .projects-img{
        img{
           float: left;
           margin-top: 25vh;
        }
    }

    .cv-txt-container{
        padding: 0 10% 0 0;
    }
    .cv-txt{
        padding: 0 0 0 50%;
    }
}