.projects{
    min-height: 35vh;
    padding: 3% 10% 3% 10%;
}

.projects-txt{
    width: 100%;
    padding: 0 2% 5% 2%;

  h3, h4, p, a{
    width: 60%;

    @media (max-width: 767px ) 
    {width: 100%;
    }
  }
}

.projects-img{
        width: 100%;
       
        img{
            float: right;
            width: 60vh;
            border: solid 1px rgb(185, 185, 185);
            box-shadow: 3px 4px 10px rgba(95, 118, 129, 0.5);
           
            @media (max-width: 767px ){
                width: 100%;
            }
        }
      
}

.projects-link{
    cursor: pointer;
}

#intro{
    cursor: pointer;
    &:hover{
        font-weight: bold;
    }
}

.reverse-project{
    .projects-txt{
      float: right;

  h3, h4, p, a{
   float: right;
  }
}

    .projects-img{
        img{
           float: left;
        }
    }
}

